In [3]:
import pandas as pd
import numpy as np

In [4]:
data = {
    'Category': ['Low', 'Medium', 'High', 'Medium', 'Low', 'High'],
    'Color': ['Red', 'Blue', 'Green', 'Blue', 'Red', 'Green'],
    'Value': [10, 20, 30, 20, 10, 30]
}

df = pd.DataFrame(data)

df

  Category  Color  Value
0      Low    Red     10
1   Medium   Blue     20
2     High  Green     30
3   Medium   Blue     20
4      Low    Red     10
5     High  Green     30

In [6]:
# ordinal encoding
map = {'Low': 1, 'Medium': 2, 'High': 3}  # setting the order myself
categoryList = []
for category in df['Category']:
    categoryList.append(map[category])

df['Category_Ordinal'] = categoryList

# one hot encoding
uniqueColors = df['Color'].unique()  # get all the unique colors in the field
# making matrix of zeroes with same number of rows as in df and columns equal to number of unique colors
oneHotEncoding = np.zeros((df.shape[0], len(uniqueColors))) 

for i, color in enumerate(uniqueColors):
    oneHotEncoding[:, i] = (df['Color'] == color).astype(int)  # setting the ith column as a column of 0 and 1 according to if the color is present or not

oneHotdf = pd.DataFrame(oneHotEncoding, columns=[f'Color_{color}' for color in uniqueColors])  # making df with column names
df = pd.concat([df, oneHotdf], axis=1)  # concatenating it to original df

df

,Category,Color,Value,Category_Ordinal,Color_Red,Color_Blue,Color_Green,Color_Red,Color_Blue,Color_Green
0,Low,Red,10,1,1.0,0.0,0.0,1.0,0.0,0.0
1,Medium,Blue,20,2,0.0,1.0,0.0,0.0,1.0,0.0
2,High,Green,30,3,0.0,0.0,1.0,0.0,0.0,1.0
3,Medium,Blue,20,2,0.0,1.0,0.0,0.0,1.0,0.0
4,Low,Red,10,1,1.0,0.0,0.0,1.0,0.0,0.0
5,High,Green,30,3,0.0,0.0,1.0,0.0,0.0,1.0